{% extends "layout.html" %} {% block content %}

<br><br>

<div class="content">
    <h4 align="center">POL&Iacute;TICA DE COOKIES</h2>
    <br>
    <div class="content2">
        <p>El acceso a este Sitio Web puede implicar la utilizaci&oacute;n de cookies. Las cookies son pequeñas cantidades de informaci&oacute;n que se almacenan en el navegador utilizado por cada Usuario  en los distintos dispositivos que pueda utilizar para navegar  para que el servidor recuerde cierta informaci&oacute;n que posteriormente y &uacute;nicamente el servidor que la implement&oacute; leer&aacute;. Las cookies facilitan la navegaci&oacute;n, la hacen m&aacute;s amigable, y no dañan el dispositivo de navegaci&oacute;n.</p>
        <p>Las cookies son procedimientos autom&aacute;ticos de recogida de informaci&oacute;n relativa a las preferencias determinadas por el Usuario durante su visita al Sitio Web con el fin de reconocerlo como Usuario, y personalizar su experiencia y el uso del Sitio Web, y pueden tambi&eacute;n, por ejemplo, ayudar a identificar y resolver errores.</p>
        <p>a informaci&oacute;n recabada a trav&eacute;s de las cookies puede incluir la fecha y hora de visitas al Sitio Web, las p&aacute;ginas visionadas, el tiempo que ha estado en el Sitio Web y los sitios visitados justo antes y despu&eacute;s del mismo. Sin embargo, ninguna cookie permite que esta misma pueda contactarse con el n&uacute;mero de tel&eacute;fono del Usuario o con cualquier otro medio de contacto personal. Ninguna cookie puede extraer informaci&oacute;n del disco duro del Usuario o robar informaci&oacute;n personal. La &uacute;nica manera de que la informaci&oacute;n privada del Usuario forme parte del archivo Cookie es que el usuario d&eacute; personalmente esa informaci&oacute;n al servidor.</p>
        <p>Las cookies que permiten identificar a una persona se consideran datos personales. Por tanto, a las mismas les ser&aacute; de aplicaci&oacute;n la Pol&iacute;tica de Privacidad anteriormente descrita. En este sentido, para la utilizaci&oacute;n de las mismas ser&aacute; necesario el consentimiento del Usuario. Este consentimiento ser&aacute; comunicado, en base a una elecci&oacute;n aut&eacute;ntica, ofrecido mediante una decisi&oacute;n afirmativa y positiva, antes del tratamiento inicial, removible y documentado.</p>
        <ul>
            <li>
                <h5>Cookies propias</h5>
                <p>Son aquellas cookies que son enviadas al ordenador o dispositivo del Usuario y gestionadas exclusivamente por Elohe Nutrici&oacute;n para el mejor funcionamiento del Sitio Web. La informaci&oacute;n que se recaba se emplea para mejorar la calidad del Sitio Web y su Contenido y su experiencia como Usuario. Estas cookies permiten reconocer al Usuario como visitante recurrente del Sitio Web y adaptar el contenido para ofrecerle contenidos que se ajusten a sus preferencias.</p>
            </li>
            <li>
                <h5>Cookies de redes sociales</h5>
                <p>Elohe Nutrici&oacute;n incorpora plugins de redes sociales, que permiten acceder a las mismas a partir del Sitio Web. Por esta raz&oacute;n, las cookies de redes sociales pueden almacenarse en el navegador del Usuario. Los titulares de dichas redes sociales disponen de sus propias pol&iacute;ticas de protecci&oacute;n de datos y de cookies, siendo ellos mismos, en cada caso, responsables de sus propios ficheros y de sus propias pr&aacute;cticas de privacidad. El Usuario debe referirse a las mismas para informarse acerca de dichas cookies y, en su caso, del tratamiento de sus datos personales. Únicamente a t&iacute;tulo informativo se indican a continuaci&oacute;n los enlaces en los que se pueden consultar dichas pol&iacute;ticas de privacidad y/o de cookies:</p>
                <div class="content2 asd">
                    <ul>
                        <li><p>Facebook: <a href="https://www.facebook.com/policies/cookies/">https://www.facebook.com/policies/cookies/</a></p></li>
                        <li><p>Twitter: <a href=" https://twitter.com/es/privacy"> https://twitter.com/es/privacy</a></p></li>
                        <li><p>Instagram: <a href="https://help.instagram.com/1896641480634370?ref=ig">https://help.instagram.com/1896641480634370?ref=ig</a></p></li>
                        <li><p>Youtube: <a href="https://policies.google.com/privacy?hl=es-419&gl=mx">https://policies.google.com/privacy?hl=es-419&gl=mx</a></p></li>
                        <li><p>Blogspot: <a href="https://www.blogger.com/content.g?hl=es_419&bpli=1">https://www.blogger.com/content.g?hl=es_419&bpli=1</a></p></li>
                        <li><p>Whatsapp: <a href="https://www.whatsapp.com/legal/business-policy/?lang=es">https://www.whatsapp.com/legal/business-policy/?lang=es</a></p></li>
                    </ul>
                </div>
            </li>
            <li>
                <h5>Deshabilitar, rechazar y eliminar cookies</h5>
                <p>El Usuario puede deshabilitar, rechazar y eliminar las cookies  total o parcialmente  instaladas en su dispositivo mediante la configuraci&oacute;n de su navegador (entre los que se encuentran, por ejemplo, Chrome, Firefox, Safari, Explorer). En este sentido, los procedimientos para rechazar y eliminar las cookies pueden diferir de un navegador de Internet a otro. En consecuencia, el Usuario debe acudir a las instrucciones facilitadas por el propio navegador de Internet que est&eacute; utilizando. En el supuesto de que rechace el uso de cookies  total o parcialmente  podr&aacute; seguir usando el Sitio Web, si bien podr&aacute; tener limitada la utilizaci&oacute;n de algunas de las prestaciones del mismo.</p>
            </li>
        </ul>
    </div>
</div>

<style>
    .content2 {
        padding: 48px;
        font-size: 14px;
    }
    h5 {
        font-size: 16px;
    }
    .content2>ul li {
        list-style: none;
    }
    .asd {
        width: max-content;
        border: none;
        padding: 6px;
        margin: 0 24px;
    }
</style>

{% endblock %}