<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }} | Elohe Nutricion</title>

    <link rel="icon" type="icon/ico" href="{{ url_for('static', filename='icons/icon.webp') }}" sizes="64x64">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/#"><img src="{{ url_for('static', filename='icons/ban.svg') }}" width="100"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                	<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                	<path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                </svg> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#cerca">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                	<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                	<path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                	<circle cx="8" cy="4.5" r="1"/>
              	</svg> Acerca de
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/#contact" class="nav-link">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-headset" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                	<path fill-rule="evenodd" d="M8 1a5 5 0 0 0-5 5v4.5H2V6a6 6 0 1 1 12 0v4.5h-1V6a5 5 0 0 0-5-5z"/>
                	<path d="M11 8a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V8zM5 8a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V8z"/>
                	<path fill-rule="evenodd" d="M13.5 8.5a.5.5 0 0 1 .5.5v3a2.5 2.5 0 0 1-2.5 2.5H8a.5.5 0 0 1 0-1h3.5A1.5 1.5 0 0 0 13 12V9a.5.5 0 0 1 .5-.5z"/>
                	<path d="M6.5 14a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2h-1a1 1 0 0 1-1-1z"/>
                </svg> Cont&aacute;ctenos
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Planes y Programas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/afiliacion/familia">Plan familiar</a>
                          <a class="dropdown-item" href="/afiliacion/abuelos">Plan abuelos</a>
                          <a class="dropdown-item" href="/afiliacion/corp">Plan corporativo</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/afiliacion/ninos">Nutrici&oacute;n de cero a doce</a>
                          <a class="dropdown-item" href="/afiliacion/nutripro">Curso nutri profil&aacute;ctico</a>
                          <a class="dropdown-item" href="/afiliacion/taller_fam">Talleres familiares</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <a href="/consultorio/citas" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                        <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                      </svg> citas
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    {% block content %} {% endblock %}

    <div class="social-cont">
        <div class="social-item" id="youtube-link" style="margin-bottom: -5px;">
            <a class="social-link" href="https://www.youtube.com/channel/UCjtuDukTAmjtNOngmhfZhDg">
                <img style="margin-bottom: 2px;" src="{{ url_for('static',filename='icons/youtube.svg') }}">
            </a>
        </div>
        <div class="social-item" id="twitter-link">
          <a class="social-link" href="https://twitter.com/elohe_nutricion">
            <svg style="margin-bottom: -4px; background-color: #00acee; width: 40px; height: 40px; border-radius: 4px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="48" height="48" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23z" fill="#FFFFFF"/></svg>
          </a>
        </div>
        <div class="socila-item" id="facebook-link">
          <a class="social-link" href="https://www.facebook.com/Elohenutricion">
            <svg style="margin-bottom: -6px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="48" height="48" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 750 850"><path d="M659 8q34 0 59 24t24 58v577q0 35-24 59t-59 24H494V461h83l23-102H494v-69q0-22 13-41t44-19h49V123h-74q-79 0-117 42t-38 110v84h-83v102h83v289H82q-34 0-58-24T0 667V90q0-34 24-58T82 8h577z" fill="#3b5998"/></svg></a>
        </div>
        <div class="social-item" id="instagram-link">
            <a class="social-link" href="https://www.instagram.com/elohenutricion/">
                <img style="margin-bottom: 4px;" src="{{ url_for('static',filename='icons/instagram.svg') }}" />
            </a>
        </div>
        <div class="social-item" id="whatsapp-link">
            <a class="social-link" href="https://api.whatsapp.com/send?phone=573006158604&text=Hola! Quiero conocer más sobre Elohe Nutrición.">
                <svg viewBox="0 0 32 32" class="whatsapp-ico">
                    <path d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd"></path>
                </svg>
            </a>
        </div>
        <div class="social-item" id="blogspot-link">
            <a class="social-link" href="https://elohenutricion.blogspot.com/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <style>
                      .st0 {
                        fill: url(#gradientone);
                      }
                      .st1 {
                        fill: #FFFFFF;
                      }
                      .st2 {
                        fill: url(#gradienttwo);
                      }
                    </style>
                    <g id="B_4_">
                      <g id="XMLID_462_">
                        <radialGradient id="gradientone" cx=".083" cy="0" r="44.988" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="#F59839"></stop>
                          <stop offset="1" stop-color="#F38936"></stop>
                        </radialGradient>
                        <path id="XMLID_475_" class="st0" d="M32 29.3c0 1.5-1.2 2.7-2.7 2.7H2.7C1.2 32 0 30.8 0 29.3V2.7C0 1.2 1.2 0 2.7 0h26.7C30.8 0 32 1.2 32 2.7v26.6z"></path>
                        <g id="XMLID_464_">
                          <g id="XMLID_465_">
                            <path id="XMLID_466_" class="st1" d="M25.3 13.3H24c-.7 0-1.3-.6-1.3-1.3 0-3.7-3-6.7-6.7-6.7h-4c-3.7 0-6.7 3-6.7 6.7v8c0 3.7 3 6.7 6.7 6.7h8c3.7 0 6.7-3 6.7-6.7v-5.3c0-.8-.6-1.4-1.4-1.4zm-13.4-2.6h4.8c.7 0 1.3.6 1.3 1.3 0 .7-.6 1.3-1.3 1.3h-4.8c-.7 0-1.3-.6-1.3-1.3 0-.7.6-1.3 1.3-1.3zm8.2 10.6H12c-.7 0-1.3-.6-1.3-1.3 0-.7.6-1.3 1.3-1.3h8.1c.7 0 1.3.6 1.3 1.3 0 .7-.6 1.3-1.3 1.3z"></path>
                          </g>
                        </g>
                        <radialGradient id="gradienttwo" cx=".067" cy=".033" r="45.159" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="#FFF" stop-opacity=".1"></stop>
                          <stop offset="1" stop-color="#FFF" stop-opacity="0"></stop>
                        </radialGradient>
                        <path id="XMLID_463_" class="st2" d="M32 29.3c0 1.5-1.2 2.7-2.7 2.7H2.7C1.2 32 0 30.8 0 29.3V2.7C0 1.2 1.2 0 2.7 0h26.7C30.8 0 32 1.2 32 2.7v26.6z"></path>
                      </g>
                    </g>
                  </svg>
            </a>
        </div>
    </div>

    <br><br><br><br>

    <footer class="page-footer">
        <div class="container-footer">

            <div class="footer">
                <div class="copyright">
                    Mejor Nutrici&oacute;n, Mejor Bienestar.
                </div>
                <div class="information">
                    <!--a href="/info/information">M&aacute;s informaci&oacute;n</a> | --><a href="/info/legaldict">Declaraciones legales</a>
                </div>
            </div>

        </div>

    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</html>